.ico-login {
  display: inline-block;
  min-width: 16px;
  height: 19px;
  background: url(../images/icon/ico-login.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-sign {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico-sign.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lang {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico-lang.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-newwindow {
  display: inline-block;
  min-width: 15px;
  height: 15px;
  background: url(../images/icon/ico-newwindow.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-newwindow-black {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-newwindow-black.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-newwindow-white {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/ico-newwindow-white.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search {
  display: inline-block;
  min-width: 17px;
  height: 17px;
  background: url(../images/icon/ico-search.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search-lg {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  background: url(../images/icon/ico-search-lg.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lock-active {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #eef6f9 url(../images/icon/ico-lock-active.png) no-repeat 50% 50%;
  background-size: 12px 12px;
  font-size: 0;
  line-height: 0;
}
.ico-file {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-file.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-home {
  display: inline-block;
  min-width: 14px;
  height: 14px;
  background: url(../images/icon/ico-home.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-eye {
  display: inline-block;
  min-width: 16px;
  height: 13px;
  background: url(../images/icon/ico-eye.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-link {
  display: inline-block;
  min-width: 7px;
  height: 13px;
  background: url(../images/icon/ico-link.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-download {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico-download.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-download-primary {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico-download-primary.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-youtube {
  display: inline-block;
  min-width: 23px;
  height: 14px;
  background: url(../images/icon/ico-youtube.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-shorts {
  display: inline-block;
  min-width: 16px;
  height: 20px;
  background: url(../images/icon/ico-shorts.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-notice {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-notice.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-remove {
  display: inline-block;
  min-width: 10px;
  height: 10px;
  background: url(../images/icon/ico-search-remove.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search-arrow {
  display: inline-block;
  min-width: 17px;
  height: 12px;
  background: url(../images/icon/ico-search-arrow.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-refresh {
  display: inline-block;
  min-width: 14px;
  height: 17px;
  background: url(../images/icon/ico-refresh.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-tel {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  background: url(../images/icon/ico-tel.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-file-plus {
  display: inline-block;
  min-width: 19px;
  height: 20px;
  background: url(../images/icon/ico-file-plus.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-success {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-check-success.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-secondary {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-check-secondary.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-post {
  display: inline-block;
  min-width: 17px;
  height: 17px;
  background: url(../images/icon/ico-post.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-attachment {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  background: url(../images/icon/ico-attachment.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-search-white {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico-search-white.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lock {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/ico-lock.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-lock-off {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/ico-lock-off.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-classroom-index01 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index01.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index02 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index02.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index03 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index03.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index04 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index04.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-exclamation-circle {
  display: inline-block;
  min-width: 15px;
  height: 15px;
  background: url(../images/icon/ico-exclamation-circle.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-exclamation-alert {
  display: inline-block;
  min-width: 80px;
  height: 80px;
  background: url(../images/icon/ico-exclamation-alert.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-exclamation-alert2 {
  display: inline-block;
  min-width: 80px;
  height: 80px;
  background: url(../images/icon/ico-exclamation-alert2.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-refresh-alert {
  display: inline-block;
  min-width: 80px;
  height: 80px;
  background: url(../images/icon/ico-refresh-alert.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-warning-alert {
  display: inline-block;
  min-width: 75px;
  height: 75px;
  background: url(../images/icon/ico-warning-alert.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-alert {
  display: inline-block;
  min-width: 70px;
  height: 70px;
  background: url(../images/icon/ico-check-alert.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-bookmark {
  display: inline-block;
  min-width: 9px;
  height: 11px;
  background: url(../images/icon/ico-bookmark.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-yes24 {
  display: inline-block;
  min-width: 42px;
  height: 45px;
  background: url(../images/icon/ico-yes24.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-tel-white {
  display: inline-block;
  min-width: 17px;
  height: 18px;
  background: url(../images/icon/ico-tel-white.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-camera {
  display: inline-block;
  min-width: 16px;
  height: 13px;
  background: url(../images/icon/ico-camera.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-zoom {
  display: inline-block;
  min-width: 28px;
  height: 29px;
  background: url(../images/icon/ico-zoom.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-hwp {
  display: inline-block;
  min-width: 20px;
  height: 23.5px;
  background: url(../images/icon/ico-hwp.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-pdf {
  display: inline-block;
  min-width: 20px;
  height: 23.5px;
  background: url(../images/icon/ico-pdf.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-plus {
  display: inline-block;
  min-width: 14px;
  height: 15px;
  background: url(../images/icon/ico-plus.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-minus {
  display: inline-block;
  min-width: 14px;
  height: 15px;
  background: url(../images/icon/ico-minus.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-exclamation {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-exclamation.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-refresh-calendar {
  display: inline-block;
  min-width: 21px;
  height: 22px;
  background: url(../images/icon/ico-refresh-calendar.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-primary {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/ico-check-primary.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}

//
.my-expenses {
  display: inline-block;
  min-width: 48px;
  height: 50px;
  background: url(../images/dashboard/my-expenses.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-certificate {
  display: inline-block;
  min-width: 34px;
  height: 50px;
  background: url(../images/dashboard/my-certificate.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-calendar {
  display: inline-block;
  min-width: 55px;
  height: 50px;
  background: url(../images/dashboard/my-calendar.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-personnel {
  display: inline-block;
  min-width: 54px;
  height: 50px;
  background: url(../images/dashboard/my-personnel.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-welfare {
  display: inline-block;
  min-width: 65px;
  height: 50px;
  background: url(../images/dashboard/my-welfare.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-business {
  display: inline-block;
  min-width: 52px;
  height: 50px;
  background: url(../images/dashboard/my-business.svg) no-repeat 50% 50%;
  font-size: 0;
}
.my-setting {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  background: url(../images/dashboard/my-setting.svg) no-repeat 50% 50%;
  font-size: 0;
}
.work-home {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  background: url(../images/work/home.svg) no-repeat 50% 50%;
  font-size: 0;
}
.work-logout {
  display: inline-block;
  min-width: 15px;
  height: 14px;
  background: url(../images/work/logout.svg) no-repeat 50% 50%;
  font-size: 0;
}
.work-time {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/work/time.svg) no-repeat 50% 50%;
  font-size: 0;
}
.work-time {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/work/time.svg) no-repeat 50% 50%;
  font-size: 0;
}
.work-arrow-right {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/work/arrow-right.svg) no-repeat 50% 50%;
  font-size: 0;
}
.user-ico-o {
  display: inline-block;
  min-width: 10px;
  height: 10px;
  background: url(../images/user/ico-o.svg) no-repeat 50% 50%;
  font-size: 0;
}
.user-ico-x {
  display: inline-block;
  min-width: 12px;
  height: 12px;
  background: url(../images/user/ico-x.svg) no-repeat 50% 50%;
  font-size: 0;
}
